body{
	font-family: sans-serif;
	background-color: darkgray;
	background-image: url('images/background.png');
	background-size: flex;
}
article{
	z-index: 9999;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color:rgba(215, 222, 232, 0.5);
	border-radius: 5%;
	padding-top: 10px;
	padding-bottom: 50px;
}
#corpinho{
	text-align: center;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
  text-decoration-color: black;
  z-index: 10000;
}
a{
	color: rgb(255, 255, 255);
	text-decoration-line: none;
}
a:hover{
	text-decoration: underline;
	color: black;
}
h2{
	text-align: center;
}

img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 300px;
	border-radius: 10%;
	
}
table, tr, td{
	text-align: center;
	border: 1px solid black;
	margin: 1000px, 1000px, 1000px, 0px;
	
}
table{
	border-collapse: collapse;
	background-color: rgb(170, 190, 190);
}
*{
	font-family: 'Courier New', Courier, monospace;              
}
